.Rproj.user
.Rhistory
.RData
.Ruserdata
green_turtles_males.Rproj

data/
figures/
notes/
JMestre_crawl_preprocess_steps/
manuscript/
notes/
Raposo et al_internesting manus/
scripts/exploration/
scripts/old/